@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /* Renk Paleti */
    --primary-color: #7c3aed;
    --text-main: #111827;
    --bg-light: #f9fafb;
    
    /* Boşluklar */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    
    /* Font Boyutları (Clamp ile Akıcı Tipografi - Föy Sayfa 9) */
    --font-size-h1: clamp(2rem, 5vw, 4rem);
    --font-size-base: 1rem;
}
h1 {
    font-size: clamp(2rem, 5vw, 4.5rem); /* Ekran büyüdükçe yazı da akıcı büyür */
}